#container {
	width: 100%;
	height: 100px;

	background-color: #f9ca24;
	text-align: right;
	overflow: hidden;

}

#nav {
	margin-left: 20%;
	padding-right: 30px;
}

.logo {
	width: 100px;
	height: 100px;
	float: left;
	position: relative;
	margin: 0px 10px 15px 0px;
}

.tab {
	display: inline-block;
	font-family: arial;
	font-weight: bold;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 37.5px 15px 20px 6px;
	font-size: 20px;
}

body {
	background-color: #e0e0d1;
}

#text-container {
	background-color: white;
	margin: 40px 80px 20px 80px;
	overflow: hidden;
}

.myimg {
	width: 300px;
	margin: 5px 0px 80px 40px;
	float: left;
	padding-left: 20px;
	padding-top:70px;
	padding-right:30px;
}


.btn {
	width: 150px;
	float:left;
	width: 140px;
	float:left;
	width: 200px;
	background-color: #f9ca24;
	margin-left:60px;
	margin-top:none;
	vertical-align: down;

}
.btn-holder{
	margin-bottom: 100px;
	position:relative;

}

.text {
	text-align: justify;
	padding-left: 20px;
	padding-right:40px;
	margin: 40px 10px 50px 30px;

}

#heading {
	padding-top: 5px;
	padding-left: 7.5px;
}

h2 {
	line-height: 0.5px;
	font-size: 15px;
	font-family: monospace;
	font-weight: bold;
}

h1 {
	font-size: 30px;
	line-height: 1em;
}
p{
	font-family: monospace;
	font-size: 15px;

}

.aboutme {
	width: 500px;

}
table tr td{
	font-family: monospace;
	font-size: 15px;
	line-height: 1.5em;
}

.icons {
	float:left;
	margin-top:10px;
	margin-left:10px;
	font-size: 36px;
	padding-left: 3em;
	padding-right: 10em;

}
#heading h1 span{
	color:#f9ca24;
}
#blackbox{
width:180px;
height:70px;
margin-left:auto;
margin-right:auto;
margin-top:80px;
margin-bottom:40px;
border:1px solid black;
text-align:center;
}
#blackbox p{
text-align:center;
font-size:25px;
font-style:bold;
font-family:Georgia;
padding:auto;
}
#skill{
	margin-top:80px;
	margin-left:50px;
}

* {box-sizing:border-box}


.skillcontainer {
    width: 90%;
    background-color: #ddd;
		margin-left:auto;
		margin-right:auto;
		padding-right:100px;
		margin-bottom:30px;
}

.skills {
    text-align: right;
		padding-left:20px;
    margin-right: 50px;
    line-height: 40px;
    color: white;
}

.html {width: 90%; background-color: #f9ca24;}
.css {width: 80%; background-color: #f9ca24;}
.js {width: 65%; background-color: #f9ca24;}
.node {width: 60%; background-color: #f9ca24;}
.database {width: 60%; background-color: #f9ca24;}
.react {width: 60%; background-color: #f9ca24;}

#html, #css, #js ,#node, #db ,#react{
	margin-top:20px;
	margin-left:60px;
	font-family:verdana;
	font-weight:bold;
	line-height:0.25em;
}
.flex-container {
  display: flex;
  justify-content: center;
  background-color: white;
	padding-bottom:20px;

}

.flex-container > div {
  background-color: #f1f1f1;
  width: 600px;
	height:350px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
	padding-bottom:30px;
}
#electronic{
	width: 370px;
	height:250px;
	display:block;
}
#electrical{
	width: 370px;
	height:250px;
	display:block;
}
#datacenter{
	width: 370px;
	height:250px;
	display:block;
}
#database{
	width: 370px;
	height:250px;
	display:block;
}
#desk{
	width: 370px;
	height:250px;
	display:block;
}
#office{
	width: 370px;
	height:250px;
	display:block;
}

.main{
float:center;
	text-align-justify;
	font-size: 20px;
	font-weight: bold;
	font-family:monospace;
	width:350px;
	line-height:0.5px;
}
.next{
	text-align-justify;
	font-size: 15px;
	font-weight: lighter;
	font-family:monospace;
	width:350px;
	line-height:0.5px;
}
.flex-container2 {
  display: flex;
  justify-content: center;
  background-color: white;
	padding-bottom:20px;

}

.flex-container2 > div {
  background-color: #f1f1f1;
  width: 500px;
	height:500px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
	padding-bottom:30px;
}
#linkedin p span{
	color:#f9ca24;

}
#linkedin p{
	line-height: 1.5em;
	text-align:justify;
	padding-left:15px;
	margin:left:7.5px;
	margin-right:7.5px;
}
#webblogs{
	width: 320px;
	height:250px;
	display:block;
	padding-left:45px;
	margin-top: 2px;
}
#mit{
	width: 370px;
	height:250px;
	display:block;
	padding:5px;
}
.boxed {
	font-size:20px;
	width:300px;
	height:40px;
  border: 1px solid black ;
	margin:20px 10px 5px 35px;
	padding-bottom: 60px;
	background-color: brown;
}
.footer {
		margin-top: 20px;

    width: 100%;
		height:70px;
    background-color: black;
    color: white;
    text-align: center;
}
@media only screen and (max-width:1354px) {
	#container{
		width:100%;
		min-width:auto;
	}
	#text-container{
		width:140%;
		min-width:auto;
		padding:10px;
	}
	#imgbtn{
		padding:20px;
		flex-wrap:wrap;
	}
	.myimg{
		margin:auto;
		padding:10px;
		width:100%;
		min-width:auto;
		margin:top:20px;

	}
	.text{
		width:100%;
		min-width:auto;
		padding:10px;
	}
	.aboutme{
		width:100%;
		min-width:auto;
	}

	.icons {
    float:left;
    margin-top:5px;
    margin-left:0px;
    font-size: 36px;
}
	#blackbox{
		float:none;
		text-align:center;
	}
	.flexbox{
		justify-content:center;
		width:100%;
	}
	#linkedin{

			justify-content:center;
			align-content: center;
			overflow: scroll;
		}
}
*{
  box-sizing: border-box;
}



body{
  background:#F2F3F4;
  color:#485e74;
  line-height:1.5;
  font-family: Verdana;
  padding:1em;

}


ul{
  list-style: none;
  padding:0;
}

ul li i {
    margin: 5px;
}

.wrapper{

	overflow-x: hidden;
	margin-left:20px;
	margin-right:20px;
	margin-bottom: 20px;
	padding:left:10px;
	padding:right:10px;


}

.wrapper > *{
  padding: 1em;
}

.info{
  background:#f9ca24;

	padding:10px;
}

.info h2, .info ul{
  text-align: center;
  margin:0 0 1rem 0;
  text-transform: uppercase;
}

.info h2 span{
    color:#fff;
  }

.contact{
  background:#f9feff;
	padding:10px;

}
.contact form label{
  display:block;
}
.contact form input, .contact form textarea, .contact form button{
  width:100%;
  padding:5px;
}
.contact form button{
  background: #f9ca24;
  height:40px;
  color:#fff;
  font-size:20px;
  text-transform: uppercase;

}
.contact form button:hover{
  background-color:#f9feff;
  color:#666;
}
.contact form{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap:20px;
}
.full{
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}
@media only screen and (min-width:600px){
  .wrapper{
    display:grid;
    grid-template-columns: 1fr 2fr;
  }
  .info h2,.info ul{
    text-align:left;
  }
}
.card{
  width:300px;
  background: #f9ca24;
  float: left;
  margin: 10px;
  padding: 10px;
}
